<div class="bs-docs-featurette">
  <div class="container">
    <div class="embed-responsive embed-responsive-16by9">
      <youtube-video class="embed-responsive-item" video-id="'hTWKbfoikeg'" player="bestPlayer"></youtube-video>
    </div>
    <br>
    <div class="btn-group" role="group">
      <button ng-click="bestPlayer.playVideo()" type="button" class="btn btn-default"><i class="fa fa-play"></i></button>
      <button ng-click="bestPlayer.pauseVideo()" type="button" class="btn btn-default"><i class="fa fa-pause"></i></button>
      <button ng-click="bestPlayer.stopVideo()" type="button" class="btn btn-default"><i class="fa fa-stop"></i></button>
    </div>
  </div>
</div>
